<ul class="social-media-list">
    <li><a href="https://github.com/rpierry" target="_new"><svg class="svg-icon"><use xlink:href="/assets/social-icons.svg#github"></use></svg> rpierry</a></li>
    <li><a href="https://linkedin.com/in/robpierry" target="_new"><svg class="svg-icon"><use xlink:href="/assets/social-icons.svg#linkedin"></use></svg> in/robpierry</a></li>
    <li><a href="https://twitter.com/harmlessmachine" target="_new"><svg class="svg-icon"><use xlink:href="/assets/social-icons.svg#twitter"></use></svg> @harmlessmachine (derelict)</a></li>
</ul>